<div class="panel panel-default">
  <div class="panel-heading">New status</div>
  <div class="panel-body">
  	<%= render 'form' %>
  </div>
  <div class="panel-footer text-right">
  	<%= link_to 'Back', statuses_path, class:"btn btn-warning" %>
  </div>
</div>




